.background {
  --src-background-url: "";

  align-items: center;
  background-image: var(--src-background-url);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.12), 0 5px 8px 0 rgba(0, 0, 0, 0.12) inset;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.background > .container {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-self: center;
  width: auto;
}
