.button_link {
  --src-button-link-background-color: var(--src-color-02);
  --src-button-link-background-color-disabled: var(--src-color-02);
  --src-button-link-background-color-hover: var(--src-color-05);
  --src-button-link-border-color: var(--src-color-01);
  --src-button-link-border-color-disabled: var(--src-color-01);
  --src-button-link-border-color-hover: var(--src-color-01);
  --src-button-link-color: var(--src-color-04);
  --src-button-link-color-disabled: var(--src-color-01);
  --src-button-link-color-hover: var(--src-color-03);

  align-items: center;
  background: linear-gradient(rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.1) 50%, transparent 50%, rgba(255, 255, 255, 0.1) 100%);
  background-color: var(--src-button-link-background-color);
  border: 1px solid var(--src-button-link-border-color);
  border-radius: 5px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.12);
  color: var(--src-button-link-color);
  display: flex;
  flex-direction: row;
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  gap: 10px;
  justify-content: center;
  padding: 8px;
}

.button_link.button_link_primary {
  --src-button-link-background-color: var(--src-color-03);
  --src-button-link-background-color-hover: var(--src-color-08);
  --src-button-link-border-color: var(--src-color-03);
  --src-button-link-border-color-hover: var(--src-color-08);
  --src-button-link-color: var(--src-color-05);
  --src-button-link-color-hover: var(--src-color-05);
}

.button_link.button_link_secondary {
  --src-button-link-background-color: var(--src-color-09);
  --src-button-link-background-color-hover: var(--src-color-10);
  --src-button-link-border-color: var(--src-color-09);
  --src-button-link-border-color-hover: var(--src-color-10);
  --src-button-link-color: var(--src-color-05);
  --src-button-link-color-hover: var(--src-color-05);
}

.button_link:hover {
  background-color: var(--src-button-link-background-color-hover);
  border-color: var(--src-button-link-border-color-hover);
  color: var(--src-button-link-color-hover);
  cursor: pointer;
  text-decoration: none;
}

.button_link:disabled {
  background-color: var(--src-button-link-background-color-disabled);
  border-color: var(--src-button-link-border-color-disabled);
  color: var(--src-button-link-color-disabled);
  cursor: default;
}
