.footer {
  --src-footer-background-color: var(--src-color-02);
  --src-footer-color: var(--src-color-04);
  --src-footer-color-hover: var(--src-color-04);
  --src-footer-columns: 1;
  --src-footer-title-background-color: var(--src-color-02);
  --src-footer-title-border-color: var(--src-color-01);

  background-color: var(--src-footer-background-color);
  display: flex;
  flex-direction: column;
}

.footer.footer_danger {
  --src-footer-background-color: var(--src-color-16);
  --src-footer-color: var(--src-color-05);
  --src-footer-color-hover: var(--src-color-05);
  --src-footer-title-background-color: var(--src-color-16);
  --src-footer-title-border-color: var(--src-color-16);
}

.footer.footer_dark {
  --src-footer-background-color: var(--src-color-04);
  --src-footer-color: var(--src-color-05);
  --src-footer-color-hover: var(--src-color-05);
  --src-footer-title-background-color: var(--src-color-04);
  --src-footer-title-border-color: var(--src-color-04);
}

.footer.footer_primary {
  --src-footer-background-color: var(--src-color-03);
  --src-footer-color: var(--src-color-05);
  --src-footer-color-hover: var(--src-color-05);
  --src-footer-title-background-color: var(--src-color-03);
  --src-footer-title-border-color: var(--src-color-03);
}

.footer.footer_secondary {
  --src-footer-background-color: var(--src-color-09);
  --src-footer-color: var(--src-color-05);
  --src-footer-color-hover: var(--src-color-05);
  --src-footer-title-background-color: var(--src-color-09);
  --src-footer-title-border-color: var(--src-color-09);
}

.footer.footer_success {
  --src-footer-background-color: var(--src-color-19);
  --src-footer-color: var(--src-color-05);
  --src-footer-color-hover: var(--src-color-05);
  --src-footer-title-background-color: var(--src-color-19);
  --src-footer-title-border-color: var(--src-color-19);
}

.footer > .content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px auto 0px auto;
  max-width: 1200px;
  padding: 20px;
  width: 100%;
}

.footer > .content > ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.footer > .content > ul > li {
  color: var(--src-footer-color);
  margin: 10px;
  text-shadow: hsla(0, 0%, 100%, 0.6) 0 -1px 0, hsla(0, 0%, 20%, 0.9) 0 2px 2px;
}

.footer > .content > ul > li > a {
  color: var(--src-footer-color);
  text-decoration: none;
}

.footer > .content > ul > li > a:hover {
  color: var(--src-footer-color-hover);
  text-decoration: underline;
}

.footer > .copyright {
  color: var(--src-footer-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
  text-shadow: hsla(0, 0%, 100%, 0.6) 0 -1px 0, hsla(0, 0%, 20%, 0.9) 0 2px 2px;
}

.footer > .title {
  align-items: center;
  background: linear-gradient(rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.1) 50%, transparent 50%, rgba(255, 255, 255, 0.1) 100%);
  background-color: var(--src-footer-title-background-color);
  border-bottom: 1px solid var(--src-footer-title-border-color);
  border-top: 1px solid var(--src-footer-title-border-color);
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.12);
  color: var(--src-footer-color);
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: center;
  padding: 10px;
  text-shadow: hsla(0, 0%, 100%, 0.6) 0 -1px 0, hsla(0, 0%, 20%, 0.9) 0 2px 2px;
}

@media only screen and (min-width: 769px) {
  .footer > .content {
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer > .content > ul {
    width: calc(100% / var(--src-footer-columns));
  }
}
