.icon {
  --src-icon-background-color: var(--src-color-06);
  --src-icon-border-color: var(--src-color-05);
  --src-icon-color: var(--src-color-05);

  align-items: center;
  background: linear-gradient(rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.1) 50%, transparent 50%, rgba(255, 255, 255, 0.1) 100%);
  background-color: var(--src-icon-background-color);
  border: 2px solid var(--src-icon-border-color);
  border-radius: 50%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.12);
  color: var(--src-icon-color);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: 8px;
  justify-content: center;
  padding: 5px;
}
