.image_container {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
}

.image_container > .image {
  --src-image-border-color: var(--src-color-05);

  border: 5px solid var(--src-image-border-color);
  border-radius: 5px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.12);
  height: auto;
  object-fit: cover;
  width: 100%;
}

.image_container > .image:hover {
  cursor: pointer;
  filter: brightness(85%);
}

.image_container > .image_content {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 10px;
  top: 10px;
}
