.mobile_menu_bar {
  --src-mobile-menu-bar-badge-color: red;

  --src-mobile-menu-bar-primary-color-0: #ffffff;
  --src-mobile-menu-bar-primary-color-1: #f6f6f6;
  --src-mobile-menu-bar-primary-color-2: #dddddd;
  --src-mobile-menu-bar-primary-color-3: #333333;

  --src-mobile-menu-bar-secondary-color: #1877f2;

  align-items: center;
  background-color: var(--src-mobile-menu-bar-primary-color-1);
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  height: 65px;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.mobile_menu_bar > .a {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  left: 0px;
  margin: 0px 20px 0px 20px;
  position: absolute;
}

.mobile_menu_bar > .a:hover {
  text-decoration: none;
}

.mobile_menu_bar > .a > .img {
  border: 1px solid var(--src-mobile-menu-bar-primary-color-2);
  border-radius: 50%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.12);
  height: 32px;
  width: 32px;
}

.mobile_menu_bar > .content {
  background-color: var(--src-mobile-menu-bar-primary-color-0);
  border-top: 1px solid var(--src-mobile-menu-bar-primary-color-2);
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0px;
  position: absolute;
  text-align: center;
  top: 100%;
  transition: max-height 0.3s ease-out;
  width: 100%;
  z-index: -10;
}

.mobile_menu_bar > .content > .ul {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
}

.mobile_menu_bar > .content > .ul > .li {
  background-color: var(--src-mobile-menu-bar-primary-color-1);
  border-bottom: 1px solid var(--src-mobile-menu-bar-primary-color-2);
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  width: 100%;
}

.mobile_menu_bar > .content > .ul > .li:hover {
  color: var(--src-mobile-menu-bar-secondary-color);
  cursor: pointer;
}

.mobile_menu_bar > .content > .ul > .li > .a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  text-decoration: none;
  width: 100%;
}

.mobile_menu_bar > .content > .ul > .li > .a:hover {
  color: var(--src-mobile-menu-bar-secondary-color);
  text-decoration: none;
}

.mobile_menu_bar > .content > .ul > .li > .a > .div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.mobile_menu_bar > .content > .ul > .li > .a > .div > .badge {
  align-items: center;
  align-self: center;
  background: linear-gradient(rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.1) 50%, transparent 50%, rgba(255, 255, 255, 0.1) 100%);
  background-color: var(--src-mobile-menu-bar-badge-color);
  border-radius: 50%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.12);
  color: var(--src-mobile-menu-bar-primary-color-0);
  display: inline-flex;
  flex-direction: row;
  font-size: 8px;
  height: 15px;
  justify-content: center;
  justify-self: center;
  line-height: 8px;
  width: 15px;
}

.mobile_menu_bar > .content > .ul > .li > .button {
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

.mobile_menu_bar > .content > .ul > .li > .button:focus {
  outline: none;
}

.mobile_menu_bar > .content > .ul > .li > .button:hover {
  color: var(--src-mobile-menu-bar-secondary-color);
  cursor: pointer;
}

.mobile_menu_bar > .content > .ul > .li > .button > .div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.mobile_menu_bar > .content > .ul > .li > .button > .div > .badge {
  align-items: center;
  align-self: center;
  background: linear-gradient(rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.1) 50%, transparent 50%, rgba(255, 255, 255, 0.1) 100%);
  background-color: var(--src-mobile-menu-bar-badge-color);
  border-radius: 50%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.12);
  color: var(--src-mobile-menu-bar-primary-color-0);
  display: inline-flex;
  flex-direction: row;
  font-size: 8px;
  height: 15px;
  justify-content: center;
  justify-self: center;
  line-height: 8px;
  width: 15px;
}

.mobile_menu_bar > .content > .ul > .li > .div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

.mobile_menu_bar > .content > .ul > .li > .div > .div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.mobile_menu_bar > .content > .ul > .li > .menu {
  background-color: var(--src-mobile-menu-bar-primary-color-0);
  border-left: 3px solid var(--src-mobile-menu-bar-secondary-color);
  border-top: 1px solid var(--src-mobile-menu-bar-primary-color-2);
  cursor: default;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(1, 1fr);
  max-height: 300px;
  overflow-y: auto;
  overscroll-behavior: contain;
  padding: 20px;
  width: 100%;
}

.mobile_menu_bar > .content > .ul > .li > .menu > .component {
  align-items: flex-start;
  color: var(--src-mobile-menu-bar-primary-color-3);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: auto;
}

.mobile_menu_bar > .content > .ul > .li > .menu > .sub_menu {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.mobile_menu_bar > .content > .ul > .li > .menu > .sub_menu > .ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
  width: 100%;
}

.mobile_menu_bar > .content > .ul > .li > .menu > .sub_menu > .ul > .li {
  border-bottom: 3px solid transparent;
  display: flex;
  flex-direction: row;
  margin: 0px 0px 0px 0px;
  width: 100%;
}

.mobile_menu_bar > .content > .ul > .li > .menu > .sub_menu > .ul > .li > .a {
  color: var(--src-mobile-menu-bar-primary-color-3);
  display: flex;
  flex-direction: row;
  gap: 10px;
  text-decoration: none;
}

.mobile_menu_bar > .content > .ul > .li > .menu > .sub_menu > .ul > .li > .a:hover {
  color: var(--src-mobile-menu-bar-secondary-color);
  text-decoration: none;
}

.mobile_menu_bar > .content > .ul > .li > .menu > .sub_menu > .ul > .li > .a > .badge {
  align-items: center;
  align-self: center;
  background: linear-gradient(rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.1) 50%, transparent 50%, rgba(255, 255, 255, 0.1) 100%);
  background-color: var(--src-mobile-menu-bar-badge-color);
  border-radius: 50%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.12);
  color: var(--src-mobile-menu-bar-primary-color-0);
  display: inline-flex;
  flex-direction: row;
  font-size: 8px;
  height: 15px;
  justify-content: center;
  justify-self: center;
  line-height: 8px;
  width: 15px;
}

.mobile_menu_bar > .content > .ul > .li > .menu > .sub_menu > .ul > .li > .a > .icon {
  display: inline-flex;
  flex-direction: row;
  width: 20px;
}

.mobile_menu_bar > .content > .ul > .li > .menu > .sub_menu > .ul > .li > .button {
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--src-mobile-menu-bar-primary-color-3);
  display: flex;
  flex-direction: row;
  font-size: 16px;
  gap: 10px;
  justify-content: space-between;
  width: auto;
}

.mobile_menu_bar > .content > .ul > .li > .menu > .sub_menu > .ul > .li > .button:focus {
  outline: none;
}

.mobile_menu_bar > .content > .ul > .li > .menu > .sub_menu > .ul > .li > .button:hover {
  color: var(--src-mobile-menu-bar-secondary-color);
  cursor: pointer;
}

.mobile_menu_bar > .content > .ul > .li > .menu > .sub_menu > .ul > .li > .button > .badge {
  align-items: center;
  align-self: center;
  background: linear-gradient(rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.1) 50%, transparent 50%, rgba(255, 255, 255, 0.1) 100%);
  background-color: var(--src-mobile-menu-bar-badge-color);
  border-radius: 50%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.12);
  color: var(--src-mobile-menu-bar-primary-color-0);
  display: inline-flex;
  flex-direction: row;
  font-size: 8px;
  height: 15px;
  justify-content: center;
  justify-self: center;
  line-height: 8px;
  width: 15px;
}

.mobile_menu_bar > .content > .ul > .li > .menu > .sub_menu > .ul > .li > .button > .icon {
  display: inline-flex;
  flex-direction: row;
  width: 20px;
}

.mobile_menu_bar > .content > .ul > .li > .menu > .sub_menu > .ul > .li > .div {
  color: var(--src-mobile-menu-bar-primary-color-3);
  display: flex;
  flex-direction: row;
  gap: 10px;
  text-decoration: none;
}

.mobile_menu_bar > .content > .ul > .li > .menu > .sub_menu > .ul > .li > .div > .badge {
  align-items: center;
  align-self: center;
  background: linear-gradient(rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.1) 50%, transparent 50%, rgba(255, 255, 255, 0.1) 100%);
  background-color: var(--src-mobile-menu-bar-badge-color);
  border-radius: 50%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.12);
  color: var(--src-mobile-menu-bar-primary-color-0);
  display: inline-flex;
  flex-direction: row;
  font-size: 8px;
  height: 15px;
  justify-content: center;
  justify-self: center;
  line-height: 8px;
  width: 15px;
}

.mobile_menu_bar > .content > .ul > .li > .menu > .sub_menu > .ul > .li > .div > .icon {
  display: inline-flex;
  flex-direction: row;
  width: 20px;
}

.mobile_menu_bar > .content > .ul > .li > .menu:hover {
  color: var(--src-mobile-menu-bar-primary-color-3);
}

.mobile_menu_bar > .content_visible {
  max-height: 9999px;
  opacity: 1;
  z-index: 1;
}

.mobile_menu_bar > .icon {
  height: 19px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 20px;
  z-index: 10;
}

.mobile_menu_bar > .icon::after {
  background-color: var(--src-mobile-menu-bar-primary-color-3);
  bottom: 0;
  content: "";
  filter: brightness(0.5);
  height: 3px;
  left: 0;
  position: absolute;
  transform-origin: 0 100%;
  transition: transform 0.3s ease-out;
  width: 20px;
}

.mobile_menu_bar > .icon::before {
  background-color: var(--src-mobile-menu-bar-primary-color-3);
  content: "";
  filter: brightness(0.5);
  height: 3px;
  left: 0;
  position: absolute;
  top: 0;
  transform-origin: 0 0;
  transition: transform 0.3s ease-out;
  width: 20px;
}

.mobile_menu_bar > .icon:hover {
  cursor: pointer;
  filter: brightness(0);
}

.mobile_menu_bar > .icon > .middle {
  background-color: var(--src-mobile-menu-bar-primary-color-3);
  filter: brightness(0.5);
  height: 3px;
  left: 0;
  position: absolute;
  top: 8px;
  transform-origin: 0 50%;
  transition: all 0.3s ease-out;
  width: 20px;
}

.mobile_menu_bar > .icon_close::after {
  transform: rotate(-45deg) scaleX(1.25) translateY(1px);
}

.mobile_menu_bar > .icon_close::before {
  transform: rotate(45deg) scaleX(1.25);
}

.mobile_menu_bar > .icon_close > .middle {
  opacity: 0;
  transform: scaleX(0);
}

@media only screen and (min-width: 769px) {
  .mobile_menu_bar {
    display: none;
  }
}
