.one_column_layout {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0px auto 0px auto;
  max-width: 1200px;
  min-height: 100vh;
  width: 100%;
}

.one_column_layout > .column_1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  padding: 20px;
  width: 100%;
}
