.stars {
  --src-stars-star-color: var(--src-color-01);
  --src-stars-star-color-disabled: var(--src-color-01);
  --src-stars-star-color-hover: var(--src-color-09);
  --src-stars-star-color-selected: var(--src-color-09);
  --src-stars-star-color-selected-hover: var(--src-color-09);

  display: flex;
  flex-direction: row;
  gap: 10px;
}

.stars > .star {
  color: var(--src-stars-star-color);
  cursor: pointer;
}

.stars > .star:hover {
  color: var(--src-stars-star-color-hover);
}

.stars > .star.star_selected {
  color: var(--src-stars-star-color-selected);
}

.stars.stars_disabled > .star {
  cursor: default;
}

.stars.stars_disabled > .star:hover {
  color: var(--src-stars-star-color-disabled);
}

.stars > .star.star_selected:hover {
  color: var(--src-stars-star-color-selected-hover);
}
