.three_column_layout {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0px auto 0px auto;
  max-width: 1200px;
  width: 100%;
}

.three_column_layout > .column_1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  padding: 20px;
  width: 100%;
}

.three_column_layout > .column_2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  padding: 20px;
  width: 100%;
}

.three_column_layout > .column_3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  padding: 20px;
  width: 100%;
}

@media only screen and (min-width: 769px) {
  .three_column_layout {
    flex-direction: row;
  }

  .three_column_layout > .column_1 {
    width: 25%;
  }

  .three_column_layout > .column_2 {
    width: 50%;
  }

  .three_column_layout > .column_3 {
    width: 25%;
  }
}
